<% if User.current.allowed_to?(:redmine_timesheet_accept_button,  nil, :global => true) %>
<%= submit_tag l(:accept_not_accepted) , :id=> 'timeEntriesAccept' -%>
<script type="text/javascript">
	$(document).ready(function() {
		$("#timeEntriesAccept").click(function() {
			$("#time_entries").append($(document.createElement("input")).attr({
				'id' : 'time_entry_accepted_report',
				'name' : 'time_entry[accepted_report]',
				'value' : '1',
				'type' : 'hidden'
			}));

			$("#time_entries").append($(document.createElement("input")).attr({
				'name' : 'back_url',
				'value' : '<%= url_for :only_path=>false,:overwrite_params=>{} -%>',
				'type' : 'hidden'
			}));

			$("#time_entries").attr('action', '<%= url_for :controller => 'timelog', :action=> 'bulk_update' -%>');
			$("#time_entries").submit();
		});
	});

$('div.contextual').append('<form id="csv_form" method="post" action=""></form>');
var csvForm = $("#csv_form");

token = $("meta[name=csrf-token]").attr("content");
csvForm.append('<input type="hidden" value="'+token+'" name="authenticity_token">');
csvForm.append('<input type="hidden" value="post" name="_method">');
csvForm.attr("action", $('a.icon-timesheet')[0].href.split(/\?/)[0]);
$.each( $('a.icon-timesheet')[0].href.split(/\?/).pop().split(/&/), function( index, value ) {
	var kv = value.split(/=/);
	csvForm.append('<input type="hidden" value="'+decodeURIComponent(kv.pop())+'" name="' + decodeURIComponent(kv.pop()) + '">');
	});

$('a.icon-timesheet').click(function() {
	$("#csv_form")[0].submit();
	return false;
})

</script>
<%end%>
