<% if Timesheet.currentUserCanAcceptReport %>
<%= submit_tag l(:accept_not_accepted) , :id=> 'timeEntriesAccept' -%>
<script type="text/javascript">
	$(document).ready(function() {
		$("#timeEntriesAccept").click(function() {
			$("#time_entries").append($(document.createElement("input")).attr({
				'id' : 'time_entry_accepted_report',
				'name' : 'time_entry[accepted_report]',
				'value' : '1',
				'type' : 'hidden'
			}));

			$("#time_entries").append($(document.createElement("input")).attr({
				'name' : 'back_url',
				'value' : '<%= url_for :only_path=>false,:overwrite_params=>{} -%>',
				'type' : 'hidden'
			}));

			$("#time_entries").attr('action', 'accept');
			$("#time_entries").submit();
		});
});



</script>
<%end%>
<script type="text/javascript">
	$(document).ready(function() {
		$('div.contextual').append('<form id="csv_form" method="post" action=""></form>');
		var
			$csvForm = $("#csv_form"),
			$token = $("meta[name=csrf-token]").attr("content"),
			$anhoricon = $('a.icon-timesheet');

		$csvForm.append('<input type="hidden" value="' + $token + '" name="authenticity_token">')
				.append('<input type="hidden" value="post" name="_method">')
				.attr("action", $anhoricon.attr('href').split(/\?/)[0]);

		$.each( $anhoricon.attr('href').split(/\?/).pop().split(/&/), function( index, value ) {
			var kv = value.split(/=/);
			$csvForm.append('<input type="hidden" value="' + decodeURIComponent(kv[1]) + '" name="' + decodeURIComponent(kv[0]) + '">');
		});

		$('a.icon-timesheet').click(function() {
			$("#csv_form")[0].submit();
			return false;
		});
});
</script>
